header{
    margin-top: 5vh;
}

.header{
    padding: 15px 20px;
    background-color: var(--color-white);
    border-radius: 50px;
    box-shadow: 5px 5px 10px #dddddd; 
}
.contact:hover{
    cursor: pointer;
}

.phone{
    margin-right: 10px;
    font-weight: normal;
}

.main{
    padding: 50px
}

.main .title{
    font-size: 40px;
}

.main .title-menu{
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.menu .item{
    border-radius: 10px;
    background-color: var(--color-white);
    padding-bottom: 20px;
    font-size: 20px;
    height: 400px;
    margin-top: 20px
}   

@media screen and (max-width: 768px) {
    .main .title-menu{
        font-size: 24px;
    }

    .menu .item{
        height: 333px;
    }
}

@media screen and (max-width: 540px) {
    .menu .item{
        height: 300px;
    }
}


.menu .item img{
    border-radius: 10px 10px 0 0;
}

.menu .item .name-food{
    margin-top: 30px;
    flex: 1;
    padding: 0 10px;
}

